---
# RedHat-specific setup tasks (RHEL 9+ supported)

- name: Install prerequisites
  ansible.builtin.dnf:
    name: "{{ podman_prerequisites_redhat }}"
    state: present
  tags: podman

- name: Ensure Podman is available from distribution repositories
  ansible.builtin.debug:
    msg: "Podman is available in RHEL/CentOS/Rocky default repositories"
  tags: podman