---
# Handlers for github_actions_runners role

- name: Reload systemd daemon
  ansible.builtin.systemd:
    daemon_reload: true
  listen: reload systemd daemon

- name: Restart all runners
  ansible.builtin.shell: |
    cd "{{ github_actions_runners_base_path }}/{{ item.name }}"
    sudo ./svc.sh stop || true
    sudo ./svc.sh start
  args:
    executable: /bin/bash
  loop: "{{ github_actions_runners_list }}"
  loop_control:
    label: "{{ item.name }}"
  changed_when: true
  listen: restart github actions runners

- name: Stop all runners
  ansible.builtin.shell: |
    cd "{{ github_actions_runners_base_path }}/{{ item.name }}"
    sudo ./svc.sh stop || true
  args:
    executable: /bin/bash
  loop: "{{ github_actions_runners_list }}"
  loop_control:
    label: "{{ item.name }}"
  changed_when: true
  listen: stop github actions runners

- name: Start all runners
  ansible.builtin.shell: |
    cd "{{ github_actions_runners_base_path }}/{{ item.name }}"
    sudo ./svc.sh start
  args:
    executable: /bin/bash
  loop: "{{ github_actions_runners_list }}"
  loop_control:
    label: "{{ item.name }}"
  changed_when: true
  listen: start github actions runners
